* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  // height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto !important;
}

body {
  font-size: 14px;
  font-family: Roboto, sans-serif, serif, Helvetica Neue, Helvetica,"Open Sans", open-sans, PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow: hidden;

  & > div:first-of-type {
    height: 100%;
  }
}

header {
  z-index: 10;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

// LAYOUT
.app-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.sub-header {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  z-index: 2001;
  background-color: #065bc9;
}

// COMMON
.flex-box {
  display: flex;
  align-items: center;

  &.space-btw {
    justify-content: space-between;
  }

  &.end {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;
  }
}
