/*
Write your variables here. All available variables can be
found in vuetify/src/stylus/settings/_variables.styl or
`https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl`.
For example, to overwrite the body-font-family:
Tip: These must be declared before the import and will automatically override the Vuetify defaults.
*/
// $body-font-family = 'Open Sans';
// $button-height := 36px;

@import '~vuetify/src/stylus/app';

.v-list {
  &__tile {
    &__avatar {
      min-width: 46px;
    }
  }
}

